---
title: Homepage
description: Personal website of Alessandro Di Tecco, Front-End Web Designer.
---

//- vars
- var encodedEmail = '&#x61;&#x6C;&#x65;&#x73;&#x73;&#x61;&#x6E;&#x64;&#x72;&#x6F;&#x40;&#x64;&#x69;&#x74;&#x65;&#x63;&#x63;&#x6F;&#x2E;&#x6D;&#x65;'

//- mixins
mixin cardItem(url, cat, title, desc, tag)
	li.card-list-item
		a(href="#{url}")
			article.card-list-item-body
				h5 #{cat}
				h3 #{title}
				p #{desc}
				span(class="card-list-item-tag") #{tag}

//- page start
doctype
html
	head
		| {% include dtc-common-meta %}
		link(href='http://fonts.googleapis.com/css?family=Montserrat|Roboto', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="/css/dtc-home-main.css")
		include dtc-ga-snp.html
	body
		main.card-list-container
			ul.card-list
				li.card-list-item.card-list-item--master
					article
						.card-list-item-header
							h2
								| Hi,
								| I'm
								br
								| Alessandro
								br
								| Di Tecco.
						.card-list-item-body
							p
								| Hi there!
								br
								| I'm Alessandro Di Tecco, a #[abbr(title='From the Front-end Handbook by Frontend Masters: when the word Designer is included in the job title, this will denote that the designer will posses front-end skills (i.e., HTML & CSS) but also professional design (Visual Design and Interaction Design) skills.') front-end web designer.]
								| I love the web, open technology standards, and building products &amp; experiences with code.
								| To get in touch with me you can #[a(href!='mailto:' + encodedEmail) send me an email] (old fashioned!).
						.card-list-item-footer
							h6 Find me also on:
							ul.social-list
								li #[a(href!='mailto:' + encodedEmail) Email]
								li &middot;
								li #[a(href='https://twitter.com/aditecco') Twitter]
								li &middot;
								li #[a(href='https://dribbble.com/alessandroditecco') Dribbble]
								li &middot;
								li #[a(href='#') GitHub]
				+cardItem(
					'#',
					'projects',
					'An example project',
					'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.',
					'example'
				)
				li.card-list-item
					a(href="/blog/")
						article.card-list-item-body
							h5 projects
							h3 Blog
							p Thoughts &amp; writings about technology, development, and more.
							span(class="card-list-item-tag") writing
				li.card-list-item
					a(href="/resume/")
						article.card-list-item-body
							h5 work
							h3 R&eacute;sum&eacute;
							p Read more about my current &amp; past activities.
							span(class="card-list-item-tag") r&eacute;sum&eacute; &amp; cv

				li.card-list-item
					a(href="http://www.simplest.io/?ref=dtc-home")
						article.card-list-item-body
							h5 work &middot; 2011&ndash;Present
							h3 Simplest
							p My one-man-band user interface design studio.
							span(class="card-list-item-tag") UI Design

				li.card-list-item
					a(href="/archive/geekville/en/")
						article.card-list-item-body
							h5 work &middot; 2013&ndash;2017
							h3 Geekville
							p A coworking space for tech &amp; creative professionals.
							span(class="card-list-item-tag") entrepreneurship

				li.card-list-item
					a(href="/archive/the-collective/")
						article.card-list-item-body
							h5 work &middot; 2012&ndash;2013
							h3 The Collective
							p The first authentic coworking space in Verona.
							span(class="card-list-item-tag") community

				li.card-list-item
					a(href="/archive/the-digital-league/")
						article.card-list-item-body
							h5 Work &middot; 2011&ndash;2013
							h3 The Digital League
							p A community for tech pros &amp; innovators in the Verona area.
							span(class="card-list-item-tag") community

				li.card-list-item
					a(href="/projects/itakepictures/")
						article.card-list-item-body
							h5 projects
							h3 I take pictures
							p A mini-site for my experiments in photography.
							span(class="card-list-item-tag") photography
		footer
			p {% include dtc-common-footer %}
